.logo {
  padding: 15px;
}
.sidebar ul {
  margin-top: 20px;
  background-color: transparent;
}
.sidebar span {
  padding-left: 10px;
  opacity: 0.7;
}

.sidebar .list-group .list-group-item {
  border: none;
  margin-bottom: 15px;
}

.list-group-item{
  background-color: transparent;
}

.list-group-item span{
  background-color: transparent;
  padding-left: 12px;
}