<header>
  <div class="header-top-notification">
    <div class="header-container">
      <a href="">giới thiệu</a>
      <a href="">Hỏi đáp</a>
      <a href="">Kết nối</a>
    </div>
  </div>
  <div class="header-main-wrapper">
    <div class="header-container">
      <div class="header-logo">
        <h1><a href="">Quản lí nhân sự fpt</a></h1>
      </div>
      <div class="header-nav-inner">
        <div class="header-nav-top">
          <form action="">
            <div class="form-group">
              <input type="text" placeholder="Search here" />
            </div>
          </form>
          <div class="header-nav-user">
            <a href="">Login</a>
            <a href="">register</a>
          </div>
        </div>
        <div class="header-nav-bottom">
          <button mat-stroked-button>Create project</button>
          <button mat-stroked-button>Views project</button>
        </div>
      </div>
    </div>
  </div>
</header>
