<header id="header-main">
  <div class="header-top-notification">
    <div class="header-container">
      <a href="">giới thiệu</a>
      <a href="">Hỏi đáp</a>
      <a href="">Kết nối</a>
    </div>
  </div>
  <div class="header-main-wrapper">
    <div class="header-container">
      <div class="header-logo">
        <h1><a routerLink="">Quản lí nhân sự fpt</a></h1>
      </div>
      <div class="header-nav-inner">
        <div class="header-nav-top">
          <form action="">
            <div class="form-group">
              <input type="text" placeholder="Search here" />
            </div>
          </form>
          <div class="header-nav-user">
            <a routerLink="/login" *ngIf="!user">Login</a>
            <a routerLink="/register" *ngIf="!user">register</a>
            <button (click)="onLogout()" *ngIf="user">Logout</button>
          </div>
        </div>
        <div class="header-nav-bottom">
          <button
            mat-stroked-button
            *ngIf="getRoleUserLeader()"
            (click)="navigateToCreateProjectPage()"
          >
            Create project
          </button>
          <button
            mat-stroked-button
            *ngIf="!getRoleUserLeader()"
            (click)="navigateToCreateTask()"
          >
            Create task
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
