#header-main {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}

.header-container {
  padding: 8px 5%;
}

.header-top-notification {
  background-color: #373a40;
}

.header-top-notification a {
  color: #fff;
  margin-right: 18px;
  font-size: 12px;
  text-transform: capitalize;
  text-decoration: none;
}

.header-top-notification a:hover {
  text-decoration: underline;
}

.header-main-wrapper {
  background-color: #eee;
  border-bottom: 1px solid #686d764d;
}

.header-main-wrapper .header-container {
  display: flex;
  align-items: center;
  padding-block: 0;
  padding-right: 0;
}

.header-logo {
  flex-shrink: 0;
}
.header-logo h1 a {
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #dc5f00;
  padding-right: 50px;
}

.header-logo h1 a:hover {
  opacity: 0.7;
}

.header-nav-inner {
  width: 100%;
  background-color: #fff;
  border-left: 1px solid #686d764d;
}

.header-nav-top {
  padding-inline: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #686d764d;
  height: 48px;
}

.header-nav-top form .form-group input {
  width: 360px;
  border: 25px;
  outline: none;
  font-size: 14px;
  padding: 8px;
}

.header-nav-top .header-nav-user {
  display: flex;
  gap: 16px;
}

.header-nav-bottom {
  padding-inline: 3%;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 48px;
}

.header-nav-bottom button {
  border-radius: 4px;
  color: #686d76;
}

.header-nav-bottom button:hover {
  background-color: inherit;
}

.header-nav-user a {
  color: #373a40;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  transition: all 0.2s linear;
}

.header-nav-user a:hover {
  text-decoration: underline;
  color: #dc5f00;
  margin-bottom: 2px;
}
